body{
    overflow: hidden;
    overflow-y: scroll;
}

nav h2{
    font-family: cursive;
    color: #8f7586;
} 

.nav-link{
    color: #8f7586;
    font-family: cursive;
}

.heading {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 60px;
    font-family: cursive;
    color: #42343e;
}
.card{
    margin: 30px;
}

@media (max-width:767px){
    .heading {
        
        padding-bottom: 0;
        padding-top: 20px;
        font-size: 30px;
    }
}