body{
    overflow: hidden;
}

nav h2{
    font-family: cursive;
    color: #8f7586;
} 

.nav-link{
    color: #8f7586;
    font-family: cursive;
}


.carousel-item{
    height: 90vh;
    background-size: cover;
}
.carousel-caption{
    position: absolute;
    top: 45%;
    
    
}
.carousel-caption h1{
font-size: 50px;
font-weight: bold;
font-family: cursive;
padding: 10px 0;
color: #4e8568;

}
#btn{
    background: none;
    border: 3px solid white;
    margin: 30px 0;
    padding: 5px 50px;  
}
#btn a{
    font-family: cursive;
    font-size: 20px;
    color: #4e8568;
    text-transform: uppercase;
    font-weight: bold;
    
}
@media (max-width:767px){
    .carousel-caption p{
        font-size: 16px;
    }
}

